<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
  <h2 class="text-2xl font-semibold mb-6 text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block mb-1" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border border-sage-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-sage-400" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block mb-1" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full border border-sage-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-sage-400" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-6 flex items-center">
        <%= f.check_box :remember_me, class: "h-5 w-5" %>
        <%= f.label :remember_me, class: "ml-2" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Log in", class: "w-full font-semibold py-2 px-4 rounded-md" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>